In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\salma\anaconda3\lib\site-packages (8.0.32)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\salma\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

In [5]:
def create_server_connection(host_name, user_name, user_pass):
    
    global connection
    connection = None
    
    try:
        connection = mysql.connector.connect(
        host = host_name,
        user = user_name,
            password = user_pass
        )
        print("MySql Connection Successful!")
        
    except Error as er:
        print(f"Error: {er}")
        
    return connection

ps = "12345"

db = "Internship"

In [6]:
create_server_connection("localhost", "root", ps)

MySql Connection Successful!

In [11]:
def create_db_connection(host_name, user_name, user_pass, db_name):
    connection = None
    
    try:
        connection = mysql.connector.connect(
        host = host_name,
        user = user_name,
        password = user_pass,
        database = db_name,
        )
        print("MySQL Database Connection Successful!")
    except Error as er:
        print(f"Error: {er}")
    return connection

In [8]:
def execute_query(connection,query):
    cursor = connection.cursor()
    
    try:
        cursor.exectue(query)
        connection.commit()
        print("Query was Successful!")
        
    except Error as er:
        print(f"Error: {er}")

In [13]:
create_orders_table = """
Create table Orders(
order_id int primary key,
customer_name varchar(30) notnull,
product_name varchar(30) notnull,
date_ordered date,
quantity int,
unit_price float,
phone_number varchar(30));
"""

connection = create_db_connection("localhost","root",ps, db)
execute_query(connection, create_orders_table)

Error: 1049 (42000): Unknown database 'internship'

AttributeError: 'NoneType' object has no attribute 'cursor'